*{
    margin: 0px;
    padding: 0px;
}
.menu{
    display: flex;
    gap: 20px;
    list-style: none;
    text-align: end;
    padding-bottom: 20px;
    text-align: end;margin-left: 790px;
   margin-top: 30px;
}
body{
    font-family: 'Poppins';
  }
header{
    position: relative;
 
 background-color: rgb(0, 17, 255);
padding-top: 2px;
 margin-left: -10px;
 margin-top: -12px;
 width: 99vw;

 
 font-size: 25px;
}
a{
    color: white;
    text-decoration: none;
}
 .menu a:hover{
    background-color: green;
    border-color: green;
    border-radius: 30px;
    padding: 5px;
}
.sobre{
    width: 1348px;
    height: 390px;
    margin-top: -30px;
    margin-left: -10px;
}
.consorcio{
    height: 300px;width: 99vw;
    margin-top: -30px;
    margin-left: -10px;
}
.grid{
    display: grid;
   grid-template-columns: 1fr 1fr;
}
.wid{
    width: 20%;
    padding-left: 120px;
    margin-top: 80px;
}
.texto{
  
   margin-left: -300px;
   font-size: 24px;
}
button{
    background-color: white;
    border-color: rgb(1, 1, 255);
    padding: 20px;
    border-radius: 20px;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
button:hover{
    background-color: blue;
    color: white;
transition-delay: 0.1s;
}
.fundo{
    background-color: blue;
    color:  white;
    margin-left: -20px;
    width: 99.65vw;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 10px;
}
.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
 
}
.button{
    position:absolute;
    background-color: blue;
    color: white;
    border-radius: 5px;
    margin-left: 500px;
    margin-bottom: 20px;
}
.button:hover{
    background-color: red;
    transition-duration: 1.3s;
    border-color: red;
}

.footer{
    background-color: black;
    margin-left: -10px;
    width: 98.93vw;
    margin-top: 10px;
    margin-bottom: -10px;
    margin-top: 140px;
  }
  .color{
    color: white;
    padding-left: 30px;
  }
  
  footer li{
    color: white;

   
  }
  .grid-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  li{
    list-style: none;
  }
   footer li+li{
  
    padding-top: 20px;
  }
  footer li{
    padding-left:30px;
    padding-top: 10px;
  }

  @media(min-width:300px) and (max-width:500px){
    .menu{
      margin-left: 50px;
      gap: 10px;
      text-align: center;
      font-size: 10px;
      margin-top: 10px;
  }
  header{
    width: 100vw;
    height: 30px;
    margin-left: -10px;
}
.grid-footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid{
  display: grid;
  grid-template-columns: 1fr;
}
.texto{
  margin-left: 0px;
  font-size: 10px;
}
.button{
 margin-left: 50px; 
 padding: 0px;
}
  }