.menu{
    display: flex;
    gap: 20px;
    list-style: none;
    text-align: end;
   text-align: end;
   padding-bottom: 20px;
   margin-left: 840px;
}

body{
    font-family: 'Poppins';
  }
header{
    position: relative;
 
 background-color: rgb(0, 17, 255);
padding-top: 2px;
 margin-left: -10px;
 margin-top: -12px;
 width:98.92vw;

 
 font-size: 25px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    background-color: green;
    border-color: green;
    border-radius: 30px;
    padding: 5px;
}
.sobre{
    width: 1340px;
    height: 390px;
    margin-top: -30px;
    margin-left: -10px;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: black;
    color: white;
    margin-left: -10px;
    padding-left: 20px;
    width: 97.47vw;
    margin-top: 20px;
}
 ul,li{
    list-style: none;
 }
 #menu header ul{
 margin-left: 600px;
 }
 .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
 }
 .img{
    width: 90%;
    border-radius: 20px;
 }
 .pad{
    padding-top: 50px;
    padding-left: 20px;
 }
 .conteudo1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: blue;
    margin-left: -10px;padding-left: 20px;
    width: 99.79%;
    color: white;
    padding-bottom: 10px;
 }
 .grid2{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin-top: 30px;
 }
 @media( min-width: 300px) and (max-width:500px){
   .menu{
       margin-left: 50px;
       gap: 10px;
       text-align: center;
       font-size: 10px;
   }
       
       .footer{
           display: grid;
           grid-template-columns: 1fr 1fr;
           width: 99vw;
       }
      
       header{
           width: 100vw;
           height: 30px;
       }
       .sobre{
        width: 500px;
       }
 }
 